.container {
    display: grid;
    grid-auto-rows: 75% 25%;
}

.container .item {
    margin: 0.8rem auto;
}

.container .gameStatContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.container .gameStatContainer .statItem {
    margin: auto 0.8rem;
}