.container {
    display: grid;
    grid-template-rows: 40% 20% 10% 30%
}

.containerRow {
    margin: 1.6rem auto;
    font-size: 1.4rem;
}

.containerRow .gameTimer {
    font-size: 6.4rem;
}

.containerRow .questionArea {
    font-size: 2rem;
    font-weight: bold;
}

.containerRow button, .containerRow input{
    font-size: 1.6rem;
}
